<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diwali Special</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="text-center center-div" id="wish"></div>
     <div class="container w-50 border py-5">
        <div class="title pb-5">
            <h2 class="font-weight-bold heading">Make a Wish</h2>
        </div>
        
            <div class="form-group">
                <p>Hi <%=form_name%></p>
                
                <p>Let's celebrate the festival in the true sense by spreading joy and light up the world of others. Have a happy, safe and blessed Diwali! May you get prosperity and fortune on this auspicious and pious occasion of Diwali. Wishing the goodness of this festive season dwells within you and stays throughout the year.</p>
            </div>

            <div>
                <p>______________________________________________________________________________________________________</p>
            </div>

            

            <div>
                <p>For <%=friend%></p>
            </div>
            <form action="/route/message" method="POST" class="pt-3">
            
            <div>
                <button type="submit" class="btn-btn-success btnemail">Send E-mail</button>
            </div>
            </form>


            <form action="/route/preview" method="POST" class="pt-3">
            <div>
                <button type="submit" class="btn-btn-success btnpreview">Preview</button>
            </div>
            </form>
        

     </div>






    </body>
    </html>