<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diwali Special</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/Stylee.css">
</head>
<body>



<div>
    <p>Hi <%=form_name%>
     <%=friend%> Wish you Happy Diwali</p> 

</div>
<form action="/" class="pt-3">
    <div >
        <button type="submit" class="btn-btn-success btnall">Create a wish for your friend</button>
        <!--<a routerLink="/route/previewall">Click Me</a>-->
    </div>

</form>




</body>
</html>