body{
    font-family: 'Open Sans', sans-serif;
    background-image: url("assets/Diww.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

a{
    width: 1100px;
    height:500px;
    display: inline-block;
    font-size: 70px;
    padding-left: 600px;
    padding-top: 300px;
    color: rgb(14, 15, 79);
    background-color: transparent;
}
P{
    width: 1500px;
    height:500px;
    display: inline-block;
    font-size: 100px;
    padding-left: 400px;
    padding-top: 300px;
    color: rgb(14, 15, 79);
    background-color: transparent;
}
